li {
  list-style: inside;
}

a:link,
a:visited {
  text-decoration: none;
  letter-spacing: .5px;
  color: var(--color-black-primary);
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  caret-color: transparent;
}

select {
  font-family: Regular;
  width: 320px;
  //width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #C7C7C7;
}