html {
  --color-brown-primary: #FC9403;
  --color-brown-secondary: #AD4B05;
  --color-brown-light-primary: #F7CB85;
  --color-brown-light-secondary: #FAE5A9;
  --color-brown-shadow-primary: #CC925E;
  --color-brown-shadow-secondary: #B14D05;

}
