@font-face {
    font-family: 'stardew_all_caps';
    src: url('/fonts/StardewValleyALLCAPS.ttf');
   }
   @font-face {
    font-family: 'stardew_regular';
    src: url('/fonts/StardewValleyRegular.ttf');
   }