.frame {
  width: 100%;
  height: 60vh;
  padding: 1rem;
  border: 4px solid #853604;
  background: #FC9403;

  box-shadow: 1px -3px 0px 6px rgba(177,77,5,1) inset;
  -webkit-box-shadow: 1px -3px 0px 6px rgba(177,77,5,1) inset;
  -moz-box-shadow: 1px -3px 0px 6px rgba(177,77,5,1) inset;
}
.base {
  width: 100%;
  height: 100%;

  border: 4px solid #853604;

  /*%gradientBackground start*/ 
  background: rgb(225,171,113);
  background: linear-gradient(0deg, rgba(225,171,113,0.7) 0%, rgba(255,201,121,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(225,171,113,0.7) 0%, rgba(255,201,121,1) 100%);
  background: -moz-linear-gradient(10deg, rgba(225,171,113,0.7) 0%, rgba(255,201,121,1) 100%);

  box-shadow: 1px 1px 0px 6px rgba(204,146,94,1) inset;
  -webkit-box-shadow: 1px 1px 0px 6px rgba(204,146,94,1) inset;
  -moz-box-shadow: 1px 1px 0px 6px rgba(204,146,94,1) inset;
  /*%gradientBackground end*/ 
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

